---
import Navigation from "./Navigation.astro";
---

<header
  class="flex justify-between items-center font-semibold text-lg tracking-wider"
>
  <h2>Alfie Qashwa Digital Garden</h2>
  <nav class="hidden md:flex md:justify-end gap-8">
    <Navigation />
  </nav>
</header>
