---
import Navigation from "./Navigation.astro";
---

<header class="kurt">
  <nav
    class="hidden md:flex md:justify-end gap-8 font-semibold text-lg tracking-wider"
  >
    <Navigation />
  </nav>
</header>
