---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en" class="bg-background text-foreground">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="HandheldFriendly" content="True" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no" />
    <meta name="theme-color" content="#e9d3b6" />
    <title>{pageTitle} | AQ</title>
  </head>
  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-mono">
      <!-- Header -->
      <div class="bg-background/50 sticky top-0 z-50 divide-y backdrop-blur-sm">
        <Header />
      </div>
      
      <!-- Main Content -->
      <main class="grow">
        <div class="mx-auto flex grow flex-col gap-y-6 px-2">
          <slot />
        </div>
      </main>
      
      <!-- Footer -->
      <Footer />
    </div>
  </body>
</html>
